{% extends 'homebase' %} 
{% block login %}
<h2>Sign In</h2>
<form action="{{ page.auth.login }}" method="POST" class="form" accept-charset="utf-8">
  <label class="form__label" for="login">
    Username or Email
    <input class="form__input" name="login" required id="login" type="text" />
  </label>

  <label class="form__label" for="password">
    Password
    <input
      class="form__input"
      name="password"
      required
      id="password"
      type="password"
    />
  </label>

  <div class="form__action-container">
    <a href="/forgot-password">Forgot password?</a>
    <button class="form__submit" type="submit">Login</button>
  </div>
</form>

<p class="form__alt-action">
  New to GitPad?
  <a href="{{ page.auth.register }}">Create an account </a>
</p>
{% endblock %}
