<footer>
  <div class="footer__container">
    <div class="footer__column">
      <span class="license__conatiner">
        All text &nbsp;
        <a
          class="license__link"
          rel="noreferrer"
          rel="noreferrer"
          href="http://creativecommons.org/licenses/by-sa/4.0/"
          target="_blank"
          >CC-BY-SA</a
        >
        &nbsp; & &nbsp;
        <a
          class="license__link"
          rel="noreferrer"
          href="https://www.gnu.org/licenses/agpl-3.0.en.html"
          target="_blank"
          >code AGPL</a
        >

        <div class="footer__column-divider">|</div>

        <a
          class="license__link"
          rel="noreferrer"
          href="https://www.eff.org/issues/do-not-track/amp/"
          target="_blank"
          >No AMP
        </a>
      </span>
    </div>
  </div>
</footer>
