<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ get_url(path="/css/main.css", cachebust=true)
    }}">
    <title>Home | GitPad</title>
  </head>
  <body>
    <main class="container">
      <div class="banner">
        <h1>GitPad</h1>
        <p class="tagline">Self-Hosted alternative to GitHub Gists</p>
        <div class="action">
          <a class="btn" href="https://demo.gitpad.org" target="_blank">See Demo</a>
          <a href="https://demo.gitpad.org">Get Started(WIP)</a>
        </div>
      </div>
    </main>
    {% include "footer.html" %}
  </body>
</html>
