<div class="gist__comment-container">
  <form action="" class="gist__comment-form" method="post" accept-charset="utf-8">
    <label class="form__label" for="comment" >
      <textarea 
          required
          class="gist__comment-content"
          name="comment"
          id="comment"
          type="text"
          placeholder="Markdown supported"
      ></textarea>
      </label>
    <div class="gist__button-group">
      <div class="gist__button-container">
        <button 
          class="form__submit--secondary"
          name="add_file"
          value="true"
          type="submit"
        >Preview</button>
      </div>
      <div class="gist__button-container">
        <button class="form__submit" type="submit">Comment</button>
      </div>
    </div>
  </form>
</div>
