{% extends 'gistbase' %} 
{% block gist_main %}
  {% include "error_comp" %}
  <div class="gist__container">
    {% if payload %}
      {% if "gist" in payload %}
        {% include "gist_meta" %}
        <div class="gist__data-container">
        {% for payload_file in payload.gist.files %}
          {% if "file" in payload_file.f.content %}
            {% include "gist_textfile" %}
          {% elif "dir" in payload_file.f.content %}
            {% for payload_file in payload_file.f.content.dir %}
              {% if "file" in payload_file.f.content %}
                  {% include "gist_textfile" %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
        </div>
      {% endif %}
    {% endif %}
  </div>
{% include "gist_comments" %}
{% endblock %}
