{% extends 'gistbase' %} 
{% block gist_main %}
    {% include "error_comp" %}
	<div class="gist__container>
		{% if payload %}

		  <p class="gist__name">
		  <a href={{ gist_owner_link }}>{{ payload.owner }}</a>/<a href="">{{ payload.id | truncate(length=10) }}</a>
		   <span class="gist__visibility">{{ payload.visibility}}</span>
		  </p>

		  {% if payload.description %}
			<p class="gist__description">{{ payload.description}}</p>
		  {% endif %}
		  {% for payload_file in payload.files %}
			{% include "gist_filename" %}
			{% if "file" in payload_file.content %}
				{% include "gist_textfile" %}
			{% endif %}

			{% if "dir" in payload_file.content %}
			  {% for payload_file in payload_file.content.dir %}
				{% include "gist_filename" %}
				{% include "gist_textfile" %}
			  {% endfor %}
			{% endif %}

		  {% endfor %}
		{% endif %}
	</div>
{% endblock %}
